body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f7f9fa;
    color: #333;
}

header {
    background-color: #2d5d63;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    background-color: #244b50;
    margin: 0;
}

nav ul li {
    margin: 0.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

nav ul li a:hover {
    background-color: #3b7b85;
    border-radius: 5px;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
}

section {
    margin-bottom: 3rem;
}

h2 {
    color: #2d5d63;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #eee;
    color: #555;
}